@import url("./assets/css/import.css");

.happy {
  background: white;
}

.happy__image-block {
  display: flex;
}
.image {
  width: 100%;
  object-fit: cover;
}

.happy-block {
  display: flex;
  justify-content: center;

  padding: 55px 0 155px 0;
}
.happy-block > *:not(:last-child) {
  margin-right: 120px;
}

.happy__text-block {
  display: flex;
  flex-direction: column;

  max-width: 412px;

  text-align: right;
}
.happy__text-block .text {
}

.text {
}
.text_mb32 {
  margin-bottom: 32px;
}

.happy__icons-block {
  display: flex;
  align-items: flex-end;
}
.happy__icons-block > *:not(:last-child) {
  margin-right: 35px;
}

.happy__icons-block .text {
  line-height: 50px;
  font-weight: 200;
  color: #009245;
}

.icon-block {
  display: flex;
}
.icon {
}

/* CAROUSEL */
.carousel {
}
.carousel__container {
  max-width: 2560px;
  overflow: hidden;
}
.section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 320px 0 340px 0;
}
.carousel .text {
  text-align: center;
  margin-bottom: 140px;
}
.carousel-block {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.carousel-images {
  position: relative;
  left: 100px;

  display: flex;
  margin-bottom: 150px;
}
.carousel-images .image-block {
  display: flex;
  width: 540px;
  height: 340px;
}
.image {
}
.carousel-pagination {
  display: flex;
}
.carousel-pagination > *:not(:last-child) {
  margin-right: 25px;
}
.cirlce {
  width: 14px;
  height: 14px;

  border-radius: 50%;
  background-color: #4d4d4d;

  cursor: pointer;
}
.active {
  background-color: #009245;
}
