@font-face {
    font-family: 'Articulat CF Normal';
    src: url('ArticulatCF-Normal.woff2') format('woff2'),
        url('ArticulatCF-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat CF Extra';
    src: url('ArticulatCF-ExtraLight.woff2') format('woff2'),
        url('ArticulatCF-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat CF';
    src: url('ArticulatCF-Thin.woff2') format('woff2'),
        url('ArticulatCF-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat CF';
    src: url('ArticulatCF-Medium.woff2') format('woff2'),
        url('ArticulatCF-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat CF';
    src: url('ArticulatCF-Light.woff2') format('woff2'),
        url('ArticulatCF-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

