.assortment {
  background: white;
}

.assortment-block {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 145px 0 160px 0;
}

.assortment__text-block {
  text-align: center;
}
.assortment__text-block_flex {
  display: flex;
  align-items: start;

  line-height: 25px;
  text-align: left;
}
.assortment__text-block_flex > *:not(:last-child) {
  margin-right: 60px;
}

.text {
}
.text_fw500 {
  font-weight: 500;
}
.text_fw400 {
  font-weight: 400;
}
.text_mw360 {
  display: block;
  max-width: 360px;
}
.text-block_mb14 {
  margin-bottom: 14px;
}

.assortment__image-block {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 980px;
  height: 588px;

  margin-bottom: 70px;
}
.image {
}

.assortment-link {
  font-size: 18px;
  color: #009245;
}
